@media screen and (max-width: 1400px) {
    #home {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-container {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    #skills, .skill-detail-container {
        margin-top:2rem;
    }
    #home, .section-container {
        display: block;
    }
    .about-section-container {
        display: block;
        margin: 2rem;
    }

    .about-details-container-order {
        display: block;
        margin: 2rem;
    }
    
    .arrow {
        display:none;
    }

    section, .section-container {
        height: fit-content;
    }
    section {
      margin:0 5% 
    }
    .section-pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-container {
        margin-top: 0;
    }
}

@media screen and (max-width: 600px)  {
    #contact, footer {
        height:40vh;
    }
    #home {
        height: 83vh;
        margin-bottom: 0;
    }
    article {
        font-size: 1rem;
        justify-content: flex-start;
        display: flex;
    }
    footer nav {
       height: fit-content;
       margin-bottom: 2rem;
    }

    .about-container, .contact-info-up-container, .btn-container {
        flex-wrap: wrap;
    }

    .contact-info-container {
        margin: 0;
    }
    .contact-info-container p, .nav-links li a {
        font-size: 1rem;

    }

    .skill-sub-title {
        font-size:1.25rem;
    }

    .logo {
        font-size: 2rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section-pic-container {
        width: auto;
        justify-content: center;
    }

    .section-text-p2 {
        font-size: 1.25rem;
    }

    .title {
        font-size: 2rem;
    }
    .text-container {
        text-align: justify;
    }
}




